
.chat-side
  .chat-side__header
    .chat-side__header__box
      %p.chat-side-header__box__name<>
        = current_user.name
      %ul.chat-side__header__box__icon
        %li.edit-icon
        = link_to "#", class: "cog" do
          %i.far.fa-edit
        %li.set-icon
        = link_to edit_user_path(current_user), class: "edit" do
          %i.fas.fa-cog
  .chat-side__lists  
    .list
      %p.group-name<>
        グループ名
      %p.latest-message<>
        新着メッセージ
    
    .list
      %p.group-name<>
        グループ名
      %p.latest-message<>
        新着メッセージ