*{
  box-sizing: border-box;
}

.chat-main__form{
  height: 90px;
  width: calc(100vw - 300px);
  background-color: #d2d2d2;
  .form{
    
    .new_message{
      display: flex;
      align-items: center;
      padding: 20px 40px;
    .input-box{
      position: relative;
    &__text{
     width: 70vw;
     height: 50px;
     padding-left: 10px;
     border: none;
     background-color: #ffffff;   
   }
   &__image{
     font-size: 1.3rem;
     position: absolute;
     top: 5px;
     right: 5px;
     cursor: pointer;
   }
   &__file{
     display: none;
    }
   }
   .submit-btn{
    width: 100px;
    height: 50px;
    background-color: #38aef0;
    color: #fafafa;
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    cursor: pointer;
   }
  }
 } 
}

