*{
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
}

.chat-main{
  height: 100%;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  float: right;
  &__header{
    height: 100px;
    width: calc(100vw - 300px);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    &__left-box{
      padding-top: 35px;
      margin-left: 40px;
      justify-content: space-between;
      .present-group{
        font-size: 20px;
        color: #333333;
        .member-list{
          padding-top: 15px;
          font-size: 12px;
          color: #999999;
        }
      }
    }
    .edit-btn{
      height: 40px;
      width: 72px;
      color: #38aef0;
      border: 1px solid;
      text-align: center;
      line-height: 40px;
      margin: 28px 40px 0 0;
      .edit{
        font-size: 16px;
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
 } 
