*{
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
}

 .chat-main__messages{
  height: calc(100vh - 100px - 90px);
  width: calc(100vw - 300px);
  padding-top: 35px;
  background-color: #fafafa;
  overflow: scroll;
   .message{
     width: calc(100vw - 300px);
     padding-left: 40px;
     margin-bottom: 45px;
     .user-info{
       display: flex;
       .user-name{
         font-size: 15px;
         color: #333333;
     }
       .post-time{
         font-size: 12px;
         color: #999999;
         margin-left: 10px;
     }
   }
   .message-text{
    padding-top: 10px;
    font-size: 14px;
    color: #434A54;
   }
 }
}