.chat-main{
  height: 100%;
  width: calc(100vw - 300px);
  background-color: #ffffff;
  float: right;
  &__header{
    height: 100px;
    width: calc(100vw - 300px);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    .left-box{
      padding-top: 35px;
      margin-left: 40px;
      justify-content: space-between;
      .present-group{
        font-size: 20px;
        color: #333333;
        .member-list{
          padding-top: 15px;
          font-size: 12px;
          color: #999999;
        }
      }
    }
    .edit-btn{
      height: 40px;
      width: 72px;
      color: #38aef0;
      border: 1px solid;
      text-align: center;
      line-height: 40px;
      margin: 28px 40px 0 0;
      .edit{
        font-size: 16px;
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  &__messages{
    height: calc(100vh - 100px - 90px);
    width: calc(100vw - 300px);
    background-color: #fafafa;
  }
  &__message-form{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #d2d2d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 50px;
     .input-box{
       display: flex;
       position: relative;
      &__text{
       width: 70vw;
       height: 50px;
       padding-left: 10px;
       border: none;
       background-color: #ffffff;
       display: flex;
       align-items: center;
     }
     &__image{
       font-size: 1.5rem;
       position: absolute;
       top: 10px;
       right: 10px;
       cursor: pointer;
     }
     &__file{
       display: none;
     }
    }
  }
    .submit-btn{
      display: block;
      width: 100px;
      height: 50px;
      background-color: #38aef0;
      color: #fafafa;
      text-align: center;
      line-height: 50px;
      margin-left: 15px;
    }
  }
 } 
